<a href="https://colab.research.google.com/github/EyaRebhi/Travail/blob/main/1990.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect(":memory:")
curseur = conn.cursor()

In [10]:
curseur.execute("""
CREATE TABLE Produit (
    ID INTEGER PRIMARY KEY,
    Nom TEXT,
    PrixUV REAL,
    PrixUA REAL,
    Promise INTEGER,
    Quantite INTEGER
)
""")

In [11]:
curseur.execute("INSERT INTO Produit VALUES (1, 'Iphone', 2500, 2300, 10, 10)")
curseur.execute("INSERT INTO Produit VALUES (2, 'Samsung', 1800, 1500, 15, 15)")

In [12]:
curseur.execute("""
SELECT
    Nom,
    PrixUV * Quantite AS CA,
    PrixUA * Quantite AS CR,
    (PrixUV * Quantite) - (PrixUA * Quantite) AS Benefice
FROM Produit
""")

resultats = curseur.fetchall()

In [13]:
for ligne in resultats:
    print("Produit:", ligne[0])
    print("  Chiffre d'Affaires (CA):", ligne[1])
    print("  Coût de Revient (CR):", ligne[2])
    print("  Bénéfice:", ligne[3])
    print("-----------------------------")

Produit: Iphone
  Chiffre d'Affaires (CA): 25000.0
  Coût de Revient (CR): 23000.0
  Bénéfice: 2000.0
-----------------------------
Produit: Samsung
  Chiffre d'Affaires (CA): 27000.0
  Coût de Revient (CR): 22500.0
  Bénéfice: 4500.0
-----------------------------

In [14]:
curseur.execute("""
SELECT
    SUM(PrixUV * Quantite) AS Total_CA,
    SUM(PrixUA * Quantite) AS Total_CR,
    SUM((PrixUV * Quantite) - (PrixUA * Quantite)) AS Total_Benefice
FROM Produit
""")

total = curseur.fetchone()
print("TOTAL Chiffre d'Affaires:", total[0])
print("TOTAL Coût de Revient:", total[1])
print("TOTAL Bénéfice:", total[2])

conn.close()

TOTAL Chiffre d'Affaires: 52000.0
TOTAL Coût de Revient: 45500.0
TOTAL Bénéfice: 6500.0